body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1171px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:872px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:34px;
  width:426px;
  height:872px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:135px;
  width:377px;
  height:669px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:14px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:135px;
  width:375px;
  height:14px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:135px;
  width:377px;
  height:669px;
  opacity:0.5;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:243px;
  width:57px;
  height:24px;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:306px;
  width:105px;
  height:23px;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:461px;
  width:243px;
  height:43px;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:597px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:763px;
  width:235px;
  height:24px;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:872px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:995px;
  width:426px;
  height:872px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1096px;
  width:377px;
  height:669px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:14px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:1096px;
  width:375px;
  height:14px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1096px;
  width:377px;
  height:669px;
  opacity:0.5;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:1204px;
  width:57px;
  height:24px;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:1267px;
  width:105px;
  height:23px;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:1422px;
  width:243px;
  height:43px;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:1558px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:1645px;
  width:222px;
  height:24px;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:443px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:135px;
  width:502px;
  height:443px;
  text-align:left;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:498px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:443px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:1096px;
  width:502px;
  height:443px;
  text-align:left;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:498px;
  word-wrap:break-word;
}
